@model Tekno.MODEL.Entity.Product

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <div class="panel">
        <div class="panel-heading">
            <h3>Ürün Ekleme</h3>

        </div>

        <div class="panel-body">
            <form method="post" action="/Admin/Product/Add" enctype="multipart/form-data">


                <div class="form-group">
                    <label>Ürün Adı</label>
                    @Html.TextBoxFor(x => x.Name, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Fiyat</label>
                    @Html.TextBoxFor(x => x.Price, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Price, null, new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    <label>Stok Miktarı</label>
                    @Html.TextBoxFor(x => x.UnitsInStock, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.UnitsInStock, null, new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    <label>Ürün Görseli</label>
                    <input type="file" name="ImagePath" />
                </div>

                <label>Kategori Seçin</label>
                <select name="SubCategoryID" class="form-control">
                    @if (TempData["SubCategories"] == null)
                    {
                        <option value="0">Tanımsız Kategori</option>
                    }
                    else
                    {
                        foreach (var item in TempData["SubCategories"] as IEnumerable<Tekno.MODEL.Entity.SubCategory>)
                        {
                            <option value="@item.ID">@item.Name</option>
                        }
                    }
                </select>

                <button type="submit" class="btn btn-success">Kaydet</button>
                <input type="button" class="btn btn-danger" value="Geri Dön" onclick="history.back()">

                @if (ViewBag.Error != null)
                {
                    <span class="text-danger">@ViewBag.Error</span>
                }
            </form>
        </div>
    </div>

